
<!-- Desktop navigation -->

<div class="logo-nav">
    <header class="bk-header companyheader clearfix">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </header>  
    {{widget('extendednavigation', 'extendednavigation', {"align":"center"})|raw}}
</div> <!-- end logo-nav -->