{% extends "layout.twig" %}

{% block content %}

<div class="main wrapper clearfix home-page">
	<div class="feature-slideshow">
		 {{widget('responsiveslideshow', 'responsiveslideshow',
		  {'duration':'3',
			'transSpeed': '1000',
			'transType': 'fade',
			'showButtons': false,
			'showBullets': true,
			'allowPause': false,
			'allowLoop': true,
			'showDescription': true,
			'showTitle': true,
			'images': [
				{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/1.jpg'), 'title':'Lorem ipsum dolor, sit amet consetetur adipicing. Elita Phaselus tristiqe donecer gravida egestas. Macenas adipiscing dui odio facibo', 'description': 'Fusce libero massa, cursus ut elementum, pellentesque sollicitudin turpis. Phasellus vel turpis vehicula tortor tristique fermentum sit ameta. Vehicula tortor tristique fermentum amet a sem. cursus ut elementum uter, pellentesquer'},
				{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/2.jpg'), 'title':'Prasent posuere veslum sanesas semper. Sed vel sagittis duiret blandit dapibus. Mira facibus magna lania in donec telluse orcilla masadat sagittis sem', 'description': 'Fusce libero massa, cursus ut elementum, pellentesque sollicitudin turpis. Phasellus vel turpis vehicula tortor tristique fermentum sit ameta. Vehicula tortor tristique fermentum amet a sem. cursus ut elementum uter, pellentesquer'},
				{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/3.jpg'), 'title':'Suspendisse nisi sapien orna eu fringilla eget, blandit se odio. Etiam vitae nisi nec mauris poser interdy acar fringilla', 'description': 'Fusce libero massa, cursus ut elementum, pellentesque sollicitudin turpis. Phasellus vel turpis vehicula tortor tristique fermentum sit ameta. Vehicula tortor tristique fermentum amet a sem. cursus ut elementum uter, pellentesquer'}
			]
			})|raw}}
	</div>

	{{zone('main')|raw}}
	
</div>

{% endblock %}
